@use "colors";

[class*="avatar-"],
[class*="avatar-"] [class*="image-"],
[class*="callAvatar-"],
[class*="callAvatar-"] [class*="speaking-"],
[class*="avatarDefault-"],
[class*="avatarSpeaking-"],
[class*="avatar-"] [class*="inner-"],
[class*="callAvatarVoice-"],
[class*="callAvatarWrapper-"] [class*="speaking-"],
[class^="messagesWrapper-"]
  [class^="scrollerInner-"]
  [class^="message-"]
  [class*="header-"]
  [class*="avatar-"]
  [class*="large-"],
[class^="messagesWrapper-"]
  [class^="scrollerInner-"]
  [class^="message-"]
  [class*="header-"]
  [class*="avatar-"]
  [class*="wrapper-"],
[class^="messagesWrapper-"]
  [class^="scrollerInner-"]
  [class^="message-"]
  [class*="contents-"]
  [class*="avatar-"],
[class^="messagesWrapper-"]
  [class^="scrollerInner-"]
  [class^="wrapper-"]
  [class*="contents-"]
  [class*="avatar-"],
[class^="messageGroupCozy-"] [class*="contents-"] [class*="avatar-"],
[class*="autocomplete-"]
  [class*="autocompleteInner-"]
  [class*="autocompleteRow-"]
  [class*="content-"]
  [class*="wrapper-"],
[class*="guildsWrapper-"]
  [class*="guilds-"]
  [class*="guild-"]
  [class*="guildInner-"],
div[class^="listItem-"] foreignObject img,
div[class^="listItem-"] foreignObject a[class^="button-"],
div[class^="listItem-"] foreignObject [class^="childWrapper-"],
div[class^="listItem-"] foreignObject [class^="folder-"],
div[class^="listItem-"] div[class^="wrapperSimple-"],
[class^="circleIconButton-"],
[class^="folderIconWrapper-"],
[class^="avatarContainer-"],
[class^="executedCommandAvatar-"],
[class^="folderIconWrapper-"]
  > [class^="closedFolderIconWrapper-"]
  > [class^="icon-"],
[class^="embedAuthorIcon-"] {
  border-radius: 0 !important;
}

[class*="avatarMasked-"],
[class*="maskProfile-"],
[class*="mask-"],
[class*="avatar-"] svg[class*="mask-"] > foreignObject,
[class*="avatarWrapper-"] svg[class*="mask-"] > foreignObject,
[class*="avatarHint-"] > foreignObject,
[class*="wrapper-"] svg[class*="mask-"] > foreignObject,
[class*="callAvatarWrapper-"] svg[class*="callAvatarMask-"] > foreignObject,
div[class^="listItem-"] [class^="wrapper-"] > svg > foreignObject,
[class^="bannerSVGWrapper-"] > foreignObject,
[class^="avatarDecoration-"] > foreignObject,
[class^="viewers-"] > [class*="viewer-"] {
  mask: none !important;
  mask-image: none !important;
  -webkit-mask-image: none !important;
}

[class*="avatarHint-"],
[class*="avatarNormal-"],
[class*="avatarWrapper-"] [class*="wrapper-"],
[class*="avatarWrapper-"] [class*="image-"],
[class*="replyAvatar-"] {
  border: none;
  border-radius: 0 !important;
}

[class^="userPopout-"] [class*="avatarWrapper-"] > [class^="avatarHint-"] {
  display: none;
}

[class^="userPopout-"]
  [class*="avatarWrapper-"]
  > [class^="avatar-"]
  > svg
  > foreignObject {
  x: 8px;
}

[class^="userPopout-"]
  [class*="avatarWrapper-"]
  > [class^="avatar-"]
  > svg
  > rect {
  x: 0;
  y: 0;
  width: 8px;
  height: 100%;
  mask: none !important;
}

[class^="accountProfileCard-"] [class^="avatar-"] {
  border: 0;
  background-color: transparent;
}

[class^="avatar-"] > [class^="wrapper-"],
[class^="wrapper-"][class*="avatar-"],
[class^="wrapper"][class*="Avatar-"] {
  --status-color: #5e626e;

  &:not(:has([mask="url(#svg-mask-avatar-default)"]))::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    box-shadow: inset 0 0 0 1px var(--status-color), inset 0 0 0 2px black,
      inset 0 0 2px 3px colors.$TextH;
  }
  & > svg > rect,
  & > svg > svg[class^="cursorDefault-"] {
    display: none;
  }

  &:has(rect[fill="#23a55a"]) {
    --status-color: #95ff00;
  }
  &:has(rect[fill="#f0b232"]) {
    --status-color: #{colors.$Highlight1};
  }
  &:has(rect[fill="#f23f43"]) {
    --status-color: #d75a5a;
  }
}

.platform-icons-wrapper > svg path {
  &[fill="var(--green-360, var(--status-green-600))"] {
    fill: #95ff00 !important;
  }
  &[fill="var(--yellow-300, var(--status-yellow-500))"] {
    fill: colors.$Highlight1 !important;
  }
  &[fill="var(--red-400, var(--status-red-500))"] {
    fill: #d75a5a !important;
  }
}

