@use "colors";
@use "images";
@use "styling";

[class^="base_"]
  > [class^="content_"]
  > [class^="sidebar_"]
  > [class^="container_"] {
  background-color: colors.$PropertySheetBG;

  [class^="sectionDivider_"] {
    margin: 4px 2px !important;
    background-color: colors.$Divider !important;
  }

  [class^="spineBorder_"] {
    display: none;
  }

  [class^="containerDefault_"] {
    margin-left: 0;
    padding: 0;

    [class^="spine_"] {
      display: none;
    }

    [class^="iconVisibility_"] {
      margin-left: 0;
      padding: 0;

      [class^="link_"] {
        border-radius: 0;
        padding: 2px 4px;
        --channel-icon: #{colors.$LabelDisabled};

        [class^="icon_"] {
          width: 16px;
          height: 16px;
        }

        [class^="iconContainer_"] {
          margin-right: 3px;
        }

        [class^="name_"] {
          font-size: 12px;
          color: colors.$LabelDisabled;
          line-height: 16px;
          font-weight: normal;
        }

        [class^="channelInfo_"] {
          & > [class^="wrapper_"] {
            border-radius: 0;
            line-height: 16px;
            height: 16px;

            & > [class^="users_"] {
              background-color: transparent;
              color: colors.$Text;
              padding-right: 6px;
              width: unset;
            }
            & > [class^="total_"] {
              background-color: transparent;
              color: colors.$LabelDisabled;
              padding: 0;

              &::after {
                content: "/";
                border: none;
                left: -4px;
              }
            }
          }
        }

        .channel-typing-indicator {
          padding: 0 !important;
          display: flex;
          align-items: center;
        }
      }

      &[class*="modeSelected_"] {
        [class^="link_"] {
          background-color: colors.$Focus;
          --channel-icon: white;

          [class^="name_"] {
            color: white;
          }
        }
      }
      &[class*="modeUnread_"] {
        [class^="link_"] {
          --channel-icon: #{colors.$Text};
          [class^="name_"] {
            color: colors.$Text;
          }
        }
        &:hover [class^="link_"] {
          --channel-icon: white !important;
          [class^="name_"] {
            color: white !important;
          }
        }
      }
      &[class*="modeMuted_"] {
        [class^="link_"] {
          --channel-icon: #{colors.$ScrollGlyphDisabled};
          --interactive-muted: #{colors.$ScrollGlyphDisabled};
          [class^="name_"] {
            color: colors.$ScrollGlyphDisabled;
          }
        }
      }
      &:hover:not([class*="modeSelected_"]) {
        [class^="link_"] {
          background-color: transparent;
          --channel-icon: #{colors.$Label};
          --interactive-muted: #{colors.$Label};
          [class^="name_"] {
            color: colors.$Label;
          }
        }
      }

      &[class*="clickable_"] {
        height: 21px;
        background: linear-gradient(
          to right,
          colors.$DialogBGL,
          transparent 75%
        );

        &:hover {
          [class^="mainContent_"] > svg {
            background-position-x: 16px;
          }
        }

        &[class*="collapsed_"] {
          [class^="mainContent_"] > svg {
            background-position-y: 0px;
          }
        }

        [class^="mainContent_"] {
          height: 21px;

          & > svg {
            left: 3px;
            top: 3px;
            width: 16px;
            height: 16px;
            transition: none;
            transform: none !important;
            background-image: images.$CategoryArrow;
            background-position: 0px 16px;

            & > path {
              display: none;
            }
          }

          [class^="name_"] {
            line-height: 21px;
            font-weight: normal;
            font-size: 12px;
            margin-left: 23px;
            color: colors.$Label;
            text-shadow: styling.$TextShadow;
          }
        }

        [class^="addButton_"] {
          min-width: 20px;
          [class^="addButtonIcon_"] {
            width: 16px;
            height: 16px;
            transition: none;
            transform: none !important;
            background-image: images.$ButtonAdd;
            margin-right: 0;

            &:hover {
              background-position-x: 16px;
            }

            & > polygon {
              display: none;
            }
          }
        }
      }
    }

    [class^="link_"] {
      border-radius: 0;
      padding: 2px 4px;
      --channel-icon: #{colors.$LabelDisabled};

      [class^="icon_"] {
        width: 16px;
        height: 16px;
      }

      [class^="iconContainer_"] {
        margin-right: 3px;
      }

      [class^="name_"] {
        font-size: 12px;
        color: colors.$LabelDisabled;
        line-height: 16px;
        font-weight: normal;
      }

      & > [class^="linkBottom_"] {
        margin-left: 0;
      }

      [class^="mentionsBadge_"] > [class^="numberBadge_"] {
        background-color: colors.$Highlight1 !important;
      }
    }

    &:has([class^="mentionsBadge_"]) {
      [class^="link_"] {
        --channel-icon: #{colors.$Highlight1} !important;
        --interactive-muted: #{colors.$Highlight1} !important;
        [class^="name_"] {
          color: colors.$Highlight1 !important;
        }
      }
    }

    &[class*="modeSelected_"] {
      [class^="link_"] {
        background-color: colors.$Focus;
        --channel-icon: white;

        [class^="name_"] {
          color: white;
        }
      }
    }
    &[class*="modeUnread_"] {
      [class^="link_"] {
        --channel-icon: #{colors.$Text};
        [class^="name_"] {
          color: colors.$Text;
        }
      }
      &:hover [class^="link_"] {
        --channel-icon: white;
        [class^="name_"] {
          color: white !important;
        }
      }
    }
    &:hover:not([class*="modeSelected_"]):not([class*="selected_"]) {
      [class^="link_"] {
        background-color: transparent;
        --channel-icon: #{colors.$Label};
        [class^="name_"] {
          color: colors.$Label;
        }
      }
    }

    & > [class^="list_"] {
      padding: 2px 4px;

      & > [class^="draggable_"] {
        height: unset;

        & > [class^="voiceUser_"] {
          height: unset;

          &:hover > [class^="content_"] {
            border-radius: 0;
            background-color: transparent;
          }

          [class^="userAvatar_"] {
            margin: 0;
            width: 16px;
            height: 16px;
            margin-right: 4px;
          }

          [class*="username_"] {
            font-size: 12px;
          }

          [class^="icons_"] {
            margin-right: 0;
          }
        }
      }
    }
  }
}
