$Label: #969eae;
$LabelDisabled: #686e7a;
$TextH: #171719;
$TextHover: #e0e4e8;
$Divider: #3c4248;
$DividerD: #101112;
$DividerL: #2e3238;
$DialogBG: #141618;
$Text: #c7cddb;
$Text2: #b2b6ba;
$TextSelected: #ecf0f4;
$Focus: rgba(49, 65, 89, 155);
$PropertySheetBG: #0c0d0e;
$ScreenB: #3c4248;
$DarkB: #404247;
$DarkBHover: #4a4c51;
$DialogBGL: #21252a;
$darkblue: #005580;
$BorderB5: #313338;
$MenuBG: #1e2124;
$TextHoverMenu: #5492cd;
$TextDisabled: #616569;
$ScrollGlyphDisabled: #484a4d;