section[class^="panels_"] > [class*="activityPanel_"] [class^="gameIcon_"],
section[class^="panels_"]
  > [class*="activityPanel_"]
  [class^="actions_"]
  > [class^="panelButtonContainer_"]
  > button,
section[class^="panels_"]
  > [class^="wrapper_"]
  > [class^="container_"]
  > [class*="connection_"]
  > [class*="directionRow_"]
  > button,
section[class^="panels_"]
  > [class^="wrapper_"]
  > [class^="container_"]
  > [class*="actionButtons_"]
  button {
  width: 24px;
  height: 24px;
  min-height: 24px;
}

section[class^="panels_"]
  > [class^="wrapper_"]
  > [class^="container_"]
  > [class*="connection_"]
  > [class*="directionRow_"] {
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: grid;
  grid-gap: 4px;
  grid-auto-flow: column;
}

section[class^="panels_"]
  > [class^="wrapper_"]
  > [class^="container_"]
  > [class*="connection_"]
  > [class^="inner_"]
  > div {
  padding-left: 20px;
}
section[class^="panels_"]
  > [class^="wrapper_"]
  > [class^="container_"]
  > [class*="connection_"]
  > [class^="inner_"]
  > div
  > [class^="rtcConnectionStatus_"] {
  position: absolute;
  left: 8px;
}
section[class^="panels_"]
  > [class^="wrapper_"]
  > [class^="container_"]
  > [class*="connection_"]
  > [class^="inner_"]
  > div
  > [class^="rtcConnectionStatus_"]:has(> :nth-child(2)) {
  top: 12px;
}
section[class^="panels_"]
  > [class^="wrapper_"]
  > [class^="container_"]
  > [class*="connection_"]
  > [class^="inner_"]
  > div
  > [class^="rtcConnectionStatus_"]
  > svg[class^="ping_"] {
  margin-right: 0;
}
section[class^="panels_"]
  > [class^="wrapper_"]
  > [class^="container_"]
  > [class*="connection_"]
  > [class^="inner_"]
  > div
  > [class^="rtcConnectionStatus_"]
  > [class^="labelWrapper_"],
section[class^="panels_"]
  > [class^="wrapper_"]
  > [class^="container_"]
  > [class*="connection_"]
  > [class^="inner_"]
  > div
  > [class^="rtcConnectionStatus_"]
  > [class^="labelWrapper_"]
  > button {
  width: 16px;
  height: 16px;
}
section[class^="panels_"]
  > [class^="wrapper_"]
  > [class^="container_"]
  > [class*="connection_"]
  > [class^="inner_"]
  > div
  > [class^="rtcConnectionStatus_"]
  > [class^="labelWrapper_"] {
  position: relative;
  left: -16px;
  z-index: 10;
}
section[class^="panels_"]
  > [class^="wrapper_"]
  > [class^="container_"]
  > [class*="connection_"]
  > [class^="inner_"]
  > div
  > [class^="rtcConnectionStatus_"]
  > [class^="labelWrapper_"]
  > button
  > [class^="contents_"] {
  display: none;
}

section[class^="panels_"]
  > [class^="wrapper_"]
  > [class^="container_"]
  > [class*="actionButtons_"]
  button {
  padding: 0;
}
section[class^="panels_"]
  > [class^="wrapper_"]
  > [class^="container_"]
  > [class*="actionButtons_"] {
  grid-gap: 4px;
  padding-top: 0;
  grid-template-columns: repeat(auto-fill, minmax(0, 24px));
  height: 24px;
}

.hh2-spotify-controls-player {
  margin: 4px 4px !important;
  height: 32px !important;
}
.hh2-spotify-controls-album-image {
  width: 32px !important;
  height: 32px !important;
}
button.hh2-spotify-controls-button {
  width: 24px !important;
}
.hh2-spotify-controls-info-box {
  margin-left: 4px !important;
  max-width: 112px !important;
  margin-right: 4px !important;
}
.hh2-spotify-controls-buttons {
  display: grid !important;
  grid-auto-flow: column;
  grid-gap: 4px;
}
.hh2-spotify-controls-track-name {
  font-size: 0.75em;
}
.hh2-spotify-controls-album-name span,
.hh2-spotify-controls-album-name a {
  color: var(--text-muted) !important;
}
