@use "colors";
@use "images";
@use "styling";
@use "sass:color";

.theme-dark {
  --text-normal: #{colors.$Text};
  --text-muted: #{colors.$LabelDisabled};
  --text-link: #{colors.$Link};
}

[class*="button-"] {
  font-size: 12px;
  height: 24px;
  min-height: 24px;
  padding: 2px 4px;
  border-radius: 0;

  &[class*="lookFilled-"] {
    border: 1px solid;
    background: linear-gradient(to bottom, colors.$LightB, colors.$DarkB);
    border-top-color: colors.$BorderB1;
    border-left-color: colors.$BorderB1;
    border-bottom-color: colors.$BorderB2;
    border-right-color: colors.$BorderB2;

    &:hover {
      background: linear-gradient(to bottom, colors.$LightBHover, colors.$DarkBHover);
      border-top-color: colors.$BorderB3;
      border-left-color: colors.$BorderB3;
      border-bottom-color: colors.$BorderB1;
      border-right-color: colors.$BorderB1;
    }
  }
}

[class*="baseLayer-"] > [class^="container-"] {
  [class^="base-"] {
    padding: 7px;
    background-color: colors.$DialogBG;

    & > [class^="content-"] {
      [class^="sidebar-"] {
        overflow: visible;
        background-color: transparent;
        margin-top: 27px;
        margin-right: 7px;

        & > [class^="container-"][aria-label] {
          box-shadow: styling.$Border;

          & > [class^="container"][class*="clickable-"] {
            position: absolute;
            top: -29px;
            left: -2px;
            height: 22px;
            width: 244px;
            background-color: colors.$PropertySheetBG;

            & > header {
              padding: 0 4px;
              height: 22px;

              & > [class^="headerContent-"] {
                filter: none;
                text-shadow: styling.$TextShadow;

                & > [class*="name-"] {
                  font-size: 12px;
                  font-weight: normal;
                  padding-left: 4px;
                }

                & > [class^="guildIconV2Container-"] {
                  margin-right: 4px;
                }
              }
            }

            & > [class^="animatedContainer-"] {
              width: 244px;
              height: 22px;
              transform: none !important;
              opacity: 1 !important;

              & > [class^="bannerImage-"] {
                width: 244px;
                top: -78px;
                transform: none !important;

                & > img {
                  width: 244px;
                }

                &::after {
                  content: "";
                  height: 22px;
                  width: 244px;
                  top: 0;
                  left: 0;
                  position: absolute;
                  background: linear-gradient(
                    0deg,
                    transparent 0%
                    colors.$PropertySheetBG 95%,
                  );
                }
              }
            }
          }
        }

        & > [class^="panels-"] {
          &:has(> :nth-child(3)),
          &:has(> [class^="wrapper-"]:not(:empty)) {
            margin-top: 7px;
            background-color: colors.$PropertySheetBG;
            box-shadow: styling.$Border;
          }
          & > [class^="wrapper-"] > [class^="container-"],
          & > [class*="activityPanel-"] {
            background-color: colors.$PropertySheetBG;
          }
        }

        ul[class^="content-"] {
          & > div[style="height: 84px;"],
          & > div[style="height: 84px;"] + div[style="height: 12px;"],
          & > div[style="height: 0px;"] + div[style="height: 12px;"],
          & > [class^="sectionDivider"] + div[style="height: 12px;"]  {
            height: 0px !important;
          }

          & > [class*="containerWithMargin-"] {
            margin-bottom: 4px;
            padding: 0;

            & > [class^="textArea-"] {
              margin-right: 0;
            }

            &::after {
              left: 2px;
              border-color: colors.$ScreenB;
            }
          }
        }
      }

      [class^="chat-"] {
        overflow: visible;
        margin-top: 27px;
        background-color: transparent;

        & > [class^="title-"] {
          position: absolute;
          top: -29px;
          left: -2px;
          height: 22px;
          min-height: 22px;
          background-color: colors.$PropertySheetBG;
          padding: 0 4px;
          width: calc(100% + 4px);
          --channel-icon: #{colors.$Text};

          [class*="iconWrapper-"] {
            margin: 0 2px;
            display: flex;
            align-items: center;

            & > svg {
              width: 16px;
              height: 16px;
            }

            & > [class*="count-"] {
              font-size: 12px;
            }
          }

          & > [class^="upperContainer-"] {
            height: 22px;

            & > [class^="children-"] {
              height: 22px;

              &::after{
                display: none;
              }

              & > [class^="titleWrapper-"] > [class*="title-"],
              & > [class^="topic-"] {
                font-size: 12px;
                font-weight: normal;
                color: colors.$Text;
              }

              & > [class^="divider-"] {
                display: none;
              }
            }
            & > [class^="toolbar-"] {
              height: 22px;

              & > [class^="search-"] {
                height: 22px;
                margin: 0 2px;
                & > [class^="search-"] {
                  height: 22px;
                  & > [class^="searchBar-"] {
                    height: 22px;
                    background-color: transparent;

                    .public-DraftEditorPlaceholder-inner {
                      font-size: 12px;
                    }
                  }
                }
              }
            }
          }
        }

        [class*="video-"] {
          margin-bottom: 7px;
          background-color: transparent;

          &[class*="noChat-"] {
            margin-bottom: 0 !important;
          }
          &[class*="chatSidebarOpen-"] {
            & > [class^="callContainer-"] {
              & > [class^="root-"] {
                box-shadow: styling.$Border;
                width: 100%;
              }
            }

            [class^="channelChatWrapper-"] > [class^="container-"] {
              border-radius: 0;
              overflow: visible;
              background-color: transparent;

              & > section[class*="container-"] {
                position: absolute;
                top: -29px;
                left: -2px;
                height: 22px;
                min-height: 22px;
                width: calc(100% + 4px);
                background-color: colors.$PropertySheetBG;
                padding: 0 4px;
                --channel-icon: #{colors.$Text};

                &::before {
                  display: none;
                }

                [class*="iconWrapper-"] {
                  margin: 0 2px;
                  display: flex;
                  align-items: center;

                  & > svg {
                    width: 16px;
                    height: 16px;
                  }

                  & > [class*="count-"] {
                    font-size: 12px;
                  }
                }

                & > [class^="upperContainer-"] {
                  height: 22px;

                  & > [class^="children-"] {
                    height: 22px;

                    &::after{
                      display: none;
                    }

                    & > [class^="titleWrapper-"] > [class*="title-"] {
                      font-size: 12px;
                      font-weight: normal;
                      color: colors.$Text;
                    }

                    & > [class^="divider-"] {
                      display: none;
                    }
                  }
                  & > [class^="toolbar-"] {
                    height: 22px;

                    [class^="divider-"] {
                      display: none;
                    }
                  }
                }
              }

              & > [class^="chat-"] {
                margin-top: 0;
              }
            }
          }

          & > [class^="callContainer-"] {
            overflow: visible;

            & > [class^="root-"] {
              box-shadow: styling.$Border;
              width: calc(100vw - 263px);
            }

            [class^="videoControls-"] {
              flex-direction: column-reverse;

              & > [class^="topControls-"] {
                opacity: 1 !important;
                transform: none !important;
                position: absolute;
                top: -29px;
                left: -2px;
                height: 22px;
                min-height: 22px;
                background-color: colors.$PropertySheetBG;
                padding: 0 4px;
                width: calc(100% - 4px);
                --channel-icon: #{colors.$Text};

                & > div > [class^="headerWrapper-"] {
                  margin: 0;

                  & > [class^="title-"],
                  & > [class^="subtitleContainer-"] > [class*="container-"] {
                    height: 22px;
                    min-height: 22px;
                    background-color: colors.$PropertySheetBG;
                    padding: 0;

                    [class*="iconWrapper-"] {
                      margin: 0 2px;
                      display: flex;
                      align-items: center;

                      & > svg {
                        width: 16px;
                        height: 16px;
                      }

                      & > [class*="count-"] {
                        font-size: 12px;
                      }
                    }

                    & > [class^="upperContainer-"] {
                      height: 22px;

                      & > [class^="children-"] {
                        height: 22px;

                        &::after{
                          display: none;
                        }

                        & > [class^="titleWrapper-"] > [class*="title-"],
                        & > [class^="topic-"] {
                          font-size: 12px;
                          font-weight: normal;
                          color: colors.$Text;
                        }

                        & > [class^="divider-"] {
                          display: none;
                        }

                        & > [class^="container-"] {
                          & > [class^="divider-"] {
                            display: none;
                          }

                          & > [class*="avatar-"] {
                            width: 16px !important;
                            height: 16px !important;

                            & > svg {
                              width: 16px !important;
                              height: 16px !important;
                            }
                          }

                          & > [class*="playingText-"] {
                            font-size: 12px;
                          }

                          [class^="viewers-"] {
                            & > [class*="viewer-"] {
                              width: 16px !important;
                              height: 16px !important;

                              & > svg {
                                width: 16px !important;
                                height: 16px !important;
                              }
                            }
                          }
                        }
                      }
                      & > [class^="toolbar-"] {
                        height: 22px;

                        & > div > button[class*="button-"] {
                          margin-right: 0;

                          [class^="controlIcon-"] {
                            width: 16px;
                            height: 16px;
                          }
                        }

                        & > [class^="divider-"],
                        & > div:has(> [class^="disabledButtonWrapper-"]) {
                          display: none;
                        }

                        & > [class^="streamQualityIndicator-"] {
                          margin-right: 0;

                          [class*="liveLarge-"] {
                            font-size: 12px;
                          }
                        }

                        & > [class^="search-"] {
                          height: 22px;
                          margin: 0 2px;
                          & > [class^="search-"] {
                            height: 22px;
                            & > [class^="searchBar-"] {
                              height: 22px;
                              background-color: transparent;

                              .public-DraftEditorPlaceholder-inner {
                                font-size: 12px;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        & > [class^="content-"] {
          &::before {
            display: none;
          }

          & > [class^="chatContent-"] + [class^="container-"],
          & > [class^="container-"] + [class^="container-"],
          & > [class^="membersWrap-"] {
            background: colors.$PropertySheetBG;
            box-shadow: styling.$Border;

            &:not(:only-child) {
              margin-left: 7px;
            }

            [class^="members-"] {
              background-color: transparent;

              [class^="member-"] {
                background-color: transparent;
                margin-left: 0;
              }

              [class^="membersGroup-"] {
                padding: 0;
                padding-left: 4px;
                height: 21px;
                background: linear-gradient(to right, colors.$DialogBGL, transparent 50%);
                line-height: 21px;
                font-weight: normal;
                font-size: 12px;
                color: colors.$Label;
                text-shadow: styling.$TextShadow;
                font-weight: normal;

                & > span[aria-hidden="true"] {
                  display: flex;
                  align-items: center;
                }
              }
            }
          }
          & > [class^="profilePanel-"] {
            margin-left: 7px;
            box-shadow: styling.$Border;
          }
          & > [class^="searchResultsWrap-"] {
            margin-left: 7px;
            box-shadow: styling.$Border;
            background-color: colors.$PropertySheetBG;

            & > [class^="searchHeader-"] {
              padding: 2px 4px;
              height: 26px;
              background: images.$FrameTitle;
              background-repeat: repeat-x;

              [class^="totalResults-"] > div {
                color: colors.$LabelDisabled !important;
                text-shadow: styling.$TextShadow;

                :root.app-focused & {
                  color: colors.$TextHover !important;
                }
              }

              [class^="searchHeaderTabList-"] > [class^="item-"] {
                padding: 0 4px;
                margin: 0;
                border-radius: 0;
                background: transparent;

                &[class*="selected-"] {
                  background: colors.$Focus;
                }
              }
            }

            [class^="scroller-"] {
              padding: 0;
              padding-right: 0 !important;

              [class^="searchResultGroup-"] {
                margin: 0;

                [class^="channelNameContainer-"] {
                  margin: 0;
                  padding: 0;
                  padding-left: 4px;
                  height: 21px;
                  background: linear-gradient(to right, colors.$DialogBGL, transparent 50%);
                  line-height: 21px;
                  font-weight: normal;
                  font-size: 12px;
                  color: colors.$Label;
                  text-shadow: styling.$TextShadow;
                  font-weight: normal;
                }

                [class^="searchResult-"] {
                  border-radius: 0;
                  border: 1px solid colors.$BackgroundStart;
                  background-color: colors.$BackgroundStart;
                  box-shadow: styling.$BorderInverse;
                  margin: 3px;
                  margin-bottom: 5px;
                }
              }
            }
          }
          & > [class^="container-"]:first-child {
            background: colors.$PropertySheetBG;
            box-shadow: styling.$Border;

            & > [class^="list-"] > [class^="content-"] {
              padding: 0 8px;

              [class^="card-"][data-item-role="item"] > [class^="container-"] {
                border: 1px solid colors.$BackgroundStart;
                background-color: colors.$BackgroundStart;
                box-shadow: styling.$BorderInverse;
                border-radius: 0;
              }
            }
          }
        }

        [class^="chatContent-"] {
          background-color: transparent;

          & > [class^="messagesWrapper-"] {
            background-color: colors.$PropertySheetBG;
            box-shadow: styling.$Border;
            margin-bottom: 15px;

            [class^="message-"]{
              &[class*="mentioned-"] {
                background-color: color.adjust(colors.$Highlight1, $alpha: -0.9);
                &:before {
                  background-color: colors.$Highlight1;
                }
              }
              &[class*="replying-"],
              &[class*="ephemeral-"] {
                background-color: color.adjust(colors.$Focus, $alpha: -0.5);
                &:before {
                  background-color: color.adjust(colors.$Focus, $alpha: 0.4);
                }
              }
            }

            [class^="divider-"] > [class^="content-"] {
              background-color: colors.$PropertySheetBG;
            }

            [class^="channelTextArea-"] {
              width: calc(100% - 4px);
              border-radius: 0;
              background-color: colors.$PropertySheetBG;
              box-shadow: styling.$Border;

              & > [class^="scrollableContainer-"] {
                background-color: transparent;
                border-radius: 0;

                &::-webkit-scrollbar,
                &::-webkit-scrollbar-track,
                &::-webkit-scrollbar-thumb,
                &::-webkit-scrollbar-button {
                  min-width: 0 !important;
                  visibility: hidden !important;
                }
              }
            }

            [class^="newMessagesBar-"],
            [class^="jumpToPresentBar-"] {
              border-radius: 0;
              border: 1px solid colors.$BackgroundStart;
              background-color: colors.$BackgroundStart;
              background-image: images.$HeaderBG;
              background-repeat: repeat-x;
              box-shadow: styling.$BorderInverse;
              height: 18px;
              min-height: 18px;
              left: 3px;
              padding: 0;

              & > button {
                height: 18px;
                line-height: 16px;
                font-size: 12px;
                padding: 0 4px;
              }
            }

            [class^="newMessagesBar-"] {
              top: 3px;
            }
            [class^="jumpToPresentBar-"] {
              bottom: 3px;

              [class^="barButtonIcon-"] {
                margin: 0;
              }
            }
          }

          & > [class^="form-"] {
            padding: 0;
            background-color: transparent;

            &::before {
              display: none;
            }

            & > [class^="channelTextArea-"] {
              background-color: transparent;
              border-radius: 0;
              margin-bottom: 31px;
              min-height: 32px !important;

              &::after {
                content: "";
                height: 24px;
                width: 100%;
                position: absolute;
                bottom: -31px;
                background-color: colors.$PropertySheetBG;
                box-shadow: styling.$Border;
              }

              & > [class^="scrollableContainer-"] {
                border-radius: 0;
                background-color: colors.$PropertySheetBG;
                box-shadow: styling.$Border;

                &::-webkit-scrollbar,
                &::-webkit-scrollbar-track,
                &::-webkit-scrollbar-thumb,
                &::-webkit-scrollbar-button {
                  min-width: 0 !important;
                  visibility: hidden !important;
                }
              }

              [class^="attachedBars-"] {
                background-color: colors.$PropertySheetBG;
                box-shadow: styling.$Border;
                border-radius: 0;
                margin-bottom: 7px;
                margin-top: 5px;

                [class^="replyBar-"] {
                  background-color: transparent;
                  border-radius: 0;
                  display: flex;
                  flex-direction: row-reverse;
                  align-self: flex-start;

                  & > [class^="actions-"] {
                    flex-direction: row-reverse;

                    &::after {
                      position: relative;
                      content: "";
                      background-color: colors.$Divider;
                      width: 1px;
                      height: 20px;
                      left: 100%;
                    }
                  }

                  [class*="replyLabel-"] {
                    margin-left: 8px;
                  }

                  [class*="mentionButton-"],
                  [class*="closeButton-"] {
                    padding: 2px 4px;
                  }

                  [class^="separator-"] {
                    background-color: colors.$Divider;
                  }
                }
              }

              [class^="inner-"] {
                padding-left: 0 !important;
              }

              [class^="inner-"],
              [class^="buttons-"],
              [class^="attachWrapper-"],
              [class^="attachButton-"],
              & > [class^="scrollableContainer-"],
              [class^="inner-"] > [class^="textArea-"] {
                min-height: 32px !important;
              }

              [class^="buttons-"],
              [class^="attachWrapper-"],
              [class^="attachButton-"] {
                height: 32px !important;
              }
              [class^="inner-"] > [class^="textArea-"] {
                height: 32px;
              }

              [class^="attachWrapper-"] {
                min-width: 32px;
              }
              [class^="attachWrapper-"] [class^="attachButton-"] {
                margin-left: 0;
                padding-top: 0;
                padding-bottom: 0;
              }
              [class^="attachButton-"],
              [class^="attachButton-"] > [class^="icon-"] {
                padding: 5px 8px;
              }
              [class^="buttons-"] [class*="buttonContainer-"] > button {
                min-height: 32px !important;
                &:not(:has(> [class*="innerButton-"])) {
                  margin: 0;
                }
              }
              [class^="buttons-"] > [class^="separator-"],
              [class^="buttons-"] > [class^="separator-"] [class*="innerButton-"] {
                margin-left: 4px;
              }
              [class^="buttons-"] > [class^="separator-"] [class*="innerButton-"] {
                margin-right: 0;
              }

              & > [class^="scrollableContainer-"] > [class^="inner-"] > [class^="textArea-"] > div > [class*="fontSize16Padding-"] {
                padding-top: 4px !important;
                padding-bottom: 4px !important;
              }
            }

            & > [class^="typing-"] {
              bottom: 0;
              left: 0;
              right: 4px;
              font-size: 12px;
            }
          }

          [class^="scrollerSpacer-"] {
            height: 8px;
          }
        }

      }

      [class^="resizeHandle-"] {
        background-color: transparent;
      }

      & > [class^="container-"] {
        overflow: visible;
        margin-top: 27px;
        background-color: transparent;
        width: calc(100vw - 263px);

        &:not([style^="width: "]) > section[class*="container-"] {
          width: calc(100vw - 261px);
          top: -2px;
        }

        &[style^="width: "] > [class^="chat-"] {
          margin-top: 0 !important;
        }

        & > section[class*="container-"] {
          position: absolute;
          top: -29px;
          height: 22px;
          min-height: 22px;
          background-color: colors.$PropertySheetBG;
          padding: 0 4px;
          --channel-icon: #{colors.$Text};

          &::before {
            display: none;
          }

          [class*="iconWrapper-"] {
            margin: 0 2px;
            display: flex;
            align-items: center;

            & > svg {
              width: 16px;
              height: 16px;
            }

            & > [class*="count-"] {
              font-size: 12px;
            }
          }

          & > [class^="upperContainer-"] {
            height: 22px;

            & > [class^="children-"] {
              height: 22px;

              &::after{
                display: none;
              }

              & > [class^="titleWrapper-"] > [class*="title-"] {
                font-size: 12px;
                font-weight: normal;
                color: colors.$Text;
              }

              & > [class^="divider-"] {
                display: none;
              }
            }
            & > [class^="toolbar-"] {
              height: 22px;

              [class^="divider-"] {
                display: none;
              }
            }
          }
        }

        & > [class*="scrollerBase-"] {
          background-color: colors.$PropertySheetBG;
          box-shadow: styling.$Border;

          [class^="stickyHeader-"] {
            background-color: colors.$PropertySheetBG;
          }
        }

        & > [class^="tabBody-"] {
          overflow: visible;

          &::before {
            display: none;
          }

          & > [class*="peopleColumn-"] {
            background-color: colors.$PropertySheetBG;
            box-shadow: styling.$Border;
          }

          & > [class*="nowPlayingColumn-"] {
            margin-left: 7px;
            background-color: colors.$PropertySheetBG;
            box-shadow: styling.$Border;

            & > [class^="container-"] {
              background-color: transparent;

              & > [class^="scroller-"] {
                border-left: none;
              }
            }
          }
        }
      }

      & > [class^="applicationStore-"] {
        margin-top: 27px;
        background-color: transparent;
        box-shadow: styling.$Border;

        section[class*="container-"] {
          position: absolute;
          top: -2px;
          height: 22px;
          background-color: colors.$PropertySheetBG;
          padding: 0 4px;
          width: calc(100vw - 261px);
          --channel-icon: #{colors.$Text};

          &::before {
            display: none;
          }

          & > [class^="children-"] {
            height: 22px;

            &::after{
              display: none;
            }

            & > [class^="titleWrapper-"] > [class*="title-"] {
              font-size: 12px;
              font-weight: normal;
              color: colors.$Text;
            }

            & > [class^="divider-"] {
              display: none;
            }
          }
        }
      }
    }
  }
}

[class^="messagesPopoutWrap-"] {
  background-color: colors.$PropertySheetBG;
  border: 1px solid black;
  border-radius: 0;
  max-height: calc(100vh - 128px) !important;

  & > [class^="header-"] {
    height: 26px;
    min-height: 26px;
    background: images.$FrameTitle;
    background-repeat: repeat-x;
    padding: 0;
    margin-bottom: 4px;

    & > h1 {
      padding-top: 3px;
      padding-left: 8px;
      font-size: 12px;
      color: colors.$LabelDisabled;
      text-shadow: styling.$TextShadow;

      :root.app-focused & {
        color: colors.$TextHover;
      }
    }
  }

  [class^="messagesPopout-"] {
    padding-right: 8px !important;

    [class^="messageGroupWrapper-"] {
      border-radius: 0;
      border: 1px solid colors.$BackgroundStart;
      background-color: colors.$BackgroundStart;
      box-shadow: styling.$BorderInverse;
    }
  }
}

[class*="recentMentionsPopout-"] {
  background-color: colors.$PropertySheetBG;
  border: 1px solid black;
  border-radius: 0;
  max-height: calc(100vh - 128px) !important;

  & > [class^="header-"] {
    height: 26px;
    min-height: 26px;
    background: images.$FrameTitle;
    background-repeat: repeat-x;
    padding: 0;
    margin-bottom: 4px;

    & > h1 {
      padding-top: 3px;
      padding-left: 8px;
      font-size: 12px;
      color: colors.$LabelDisabled;
      text-shadow: styling.$TextShadow;

      :root.app-focused & {
        color: colors.$TextHover;
      }
    }
  }

  [class^="messagesPopout-"] {
    padding-right: 0;

    div[role="list"] {
      padding: 0;

      [class^="container-"] {
        padding: 0;

        [class*="channelHeader-"] {
          height: 21px;
          background: linear-gradient(to right, colors.$DialogBGL, transparent 50%);
          margin: 0;
          padding-left: 4px;
        }

        [class^="messageContainer-"] {
          border-radius: 0;
          border: 1px solid colors.$BackgroundStart;
          background-color: colors.$BackgroundStart;
          box-shadow: styling.$BorderInverse;
          margin: 3px;
          margin-bottom: 7px;
        }
      }
    }
  }
}

[class^="browser-"] {
  background-color: colors.$PropertySheetBG;
  border: 1px solid black;
  border-radius: 0;
  max-height: calc(100vh - 128px) !important;

  & > [class^="header-"] {
    height: 26px;
    min-height: 26px;
    background: images.$FrameTitle;
    background-repeat: repeat-x;
    padding: 0;

    & > [class^="threadIcon-"] {
      height: 16px;
      width: 16px;
      margin-right: 3px;
      margin-left: 2px;
      color: colors.$LabelDisabled;

      :root.app-focused & {
        color: colors.$TextHover;
      }
    }

    & > [class^="divider-"],
    & > [class^="spacer-"] {
      display: none;
    }

    & > h1 {
      font-size: 12px;
      color: colors.$LabelDisabled;
      text-shadow: styling.$TextShadow;

      :root.app-focused & {
        color: colors.$TextHover;
      }
    }

    & > [class^="searchBox-"] {
      border-radius: 0;
      background-color: colors.$DialogBG;
      border: 1px solid colors.$ScreenB;
    }

    & > [class^="closeIcon-"] {
      width: 16px;
      height: 16px;
      border: none;
      border-radius: 0;
      background-image: images.$TitlebarButtons;
      padding-right: 3px;

      &:hover {
        background-position: 16px 0px;
        background-color: transparent;
      }

      & > svg {
        display: none;
      }
    }
  }

  [class^="list"] {
    padding: 0;

    [class^="content-"] {
      [class*="sectionHeader-"] {
        height: 21px;
        background: linear-gradient(to right, colors.$DialogBGL, transparent 50%);
        margin: 0;
        padding-left: 4px;
      }

      [class^="container-"] {
        border-radius: 0;
        border: 1px solid colors.$BackgroundStart;
        background-color: colors.$BackgroundStart;
        box-shadow: styling.$BorderInverse;
        margin: 3px;
        margin-bottom: 7px;
      }
    }
  }
}

.inAppNotification-card {
  background-color: colors.$PropertySheetBG !important;
  box-shadow: styling.$Border;
  border-radius: 0 !important;
}

[class^="inputDefault-"] {
  border-radius: 0;
  padding: 2px;
  height: 22px;
  border: 1px solid colors.$ScreenB;
  background-color: colors.$DialogBG;
  font-size: 12px;
  line-height: 16px;
}
