@use "colors";
@use "styling";
@use "sass:color";

.theme-dark {
  --text-normal: #{colors.$Text};
  --text-muted: #{colors.$LabelDisabled};
  --text-link: #{colors.$Link};
}

[class*="button-"] {
  font-size: 12px;
  height: 24px;
  min-height: 24px;
  padding: 2px 4px;
  border-radius: 0;

  &[class*="lookFilled-"] {
    border: 1px solid;
    background: linear-gradient(to bottom, colors.$LightB, colors.$DarkB);
    border-top-color: colors.$BorderB1;
    border-left-color: colors.$BorderB1;
    border-bottom-color: colors.$BorderB2;
    border-right-color: colors.$BorderB2;

    &:hover {
      background: linear-gradient(to bottom, colors.$LightBHover, colors.$DarkBHover);
      border-top-color: colors.$BorderB3;
      border-left-color: colors.$BorderB3;
      border-bottom-color: colors.$BorderB1;
      border-right-color: colors.$BorderB1;
    }
  }
}

[class*="baseLayer-"] > [class^="container-"] {
  [class^="base-"] {
    padding: 7px;
    background-color: colors.$DialogBG;

    & > [class^="content-"] {
      [class^="sidebar-"] {
        overflow: visible;
        background-color: transparent;
        margin-top: 27px;
        margin-right: 7px;

        [class^="container-"][aria-label] {
          box-shadow: styling.$Border;

          & > [class^="container"][class*="clickable-"] {
            position: absolute;
            top: -29px;
            left: -2px;
            height: 22px;
            width: 244px;
            background-color: colors.$PropertySheetBG;

            & > header {
              padding: 0 4px;
              height: 22px;

              & > [class^="headerContent-"] {
                filter: none;
                text-shadow: styling.$TextShadow;

                & > [class*="name-"] {
                  font-size: 12px;
                  font-weight: normal;
                  padding-left: 4px;
                }

                & > [class^="guildIconV2Container-"] {
                  margin-right: 4px;
                }
              }
            }

            & > [class^="animatedContainer-"] {
              width: 244px;
              height: 22px;
              transform: none !important;
              opacity: 1 !important;

              & > [class^="bannerImage-"] {
                width: 244px;
                top: -78px;
                transform: none !important;

                & > img {
                  width: 244px;
                }

                &::after {
                  content: "";
                  height: 22px;
                  width: 244px;
                  top: 0;
                  left: 0;
                  position: absolute;
                  background: linear-gradient(
                    0deg,
                    transparent 0%
                    colors.$PropertySheetBG 95%,
                  );
                }
              }
            }
          }
        }

        & > [class^="panels-"] {
          &:has(> :nth-child(3)),
          &:has(> [class^="wrapper-"]:not(:empty)) {
            margin-top: 7px;
            background-color: colors.$PropertySheetBG;
            box-shadow: styling.$Border;
          }
          & > [class^="wrapper-"] > [class^="container-"] {
            background-color: colors.$PropertySheetBG;
          }
        }

        & > [class^="privateChannels-"] {
          box-shadow: styling.$Border;

          & > [class^="searchBar-"] {
            position: absolute;
            top: -29px;
            left: -2px;
            height: 22px;
            width: 244px;
            background-color: colors.$PropertySheetBG;
            padding: 0;

            & > [class^="searchBarComponent-"] {
              position: fixed;
              height: 22px;
              width: 244px;
              background-color: colors.$PropertySheetBG;
              font-size: 12px;
              line-height: 22px;
            }
          }
        }

        ul[class^="content-"] > div[style="height: 84px;"],
        ul[class^="content-"] > div[style="height: 84px;"] + div[style="height: 12px;"] {
          height: 0px !important;
        }
      }

      [class^="chat-"] {
        overflow: visible;
        margin-top: 27px;
        background-color: transparent;

        & > [class^="title-"] {
          position: absolute;
          top: -29px;
          left: -2px;
          height: 22px;
          background-color: colors.$PropertySheetBG;
          padding: 0 4px;
          width: calc(100% + 4px);
          --channel-icon: #{colors.$Text};

          [class*="iconWrapper-"] {
            margin: 0 2px;
            display: flex;
            align-items: center;

            & > svg {
              width: 16px;
              height: 16px;
            }

            & > [class*="count-"] {
              font-size: 12px;
            }
          }

          & > [class^="children-"] {
            height: 22px;

            &::after{
              display: none;
            }

            & > [class^="titleWrapper-"] > [class*="title-"],
            & > [class^="topic-"] {
              font-size: 12px;
              font-weight: normal;
              color: colors.$Text;
            }

            & > [class^="divider-"] {
              display: none;
            }
          }
          & > [class^="toolbar-"] {
            height: 22px;

            & > [class^="search-"] {
              height: 22px;
              margin: 0 2px;
              & > [class^="search-"] {
                height: 22px;
                & > [class^="searchBar-"] {
                  height: 22px;
                  background-color: transparent;

                  .public-DraftEditorPlaceholder-inner {
                    font-size: 12px;
                  }
                }
              }
            }
          }
        }

        & > [class^="content-"] {
          &::before {
            display: none;
          }
          & > [class^="chatContent"] {
            background-color: transparent;

            & > [class^="messagesWrapper-"] {
              background-color: colors.$PropertySheetBG;
              box-shadow: styling.$Border;
              margin-bottom: 15px;

              [class^="message-"][class*="mentioned-"] {
                background-color: color.adjust(colors.$Highlight1, $alpha: -0.9);
                &:before {
                  background-color: colors.$Highlight1;
                }
              }

              [class^="channelTextArea-"] {
                width: calc(100% - 4px);
                border-radius: 0;
                background-color: colors.$PropertySheetBG;
                box-shadow: styling.$Border;

                & > [class^="scrollableContainer-"] {
                  background-color: transparent;
                  border-radius: 0;

                  &::-webkit-scrollbar,
                  &::-webkit-scrollbar-track,
                  &::-webkit-scrollbar-thumb,
                  &::-webkit-scrollbar-button {
                    min-width: 0 !important;
                    visibility: hidden !important;
                  }
                }
              }
            }

            & > [class^="form-"] {
              padding: 0;
              background-color: transparent;

              &::before {
                display: none;
              }

              & > [class^="channelTextArea-"] {
                background-color: transparent;
                border-radius: 0;
                margin-bottom: 31px;
                min-height: 32px !important;

                &::after {
                  content: "";
                  height: 24px;
                  width: 100%;
                  position: absolute;
                  bottom: -31px;
                  background-color: colors.$PropertySheetBG;
                  box-shadow: styling.$Border;
                }

                & > [class^="scrollableContainer-"] {
                  border-radius: 0;
                  background-color: colors.$PropertySheetBG;
                  box-shadow: styling.$Border;

                  &::-webkit-scrollbar,
                  &::-webkit-scrollbar-track,
                  &::-webkit-scrollbar-thumb,
                  &::-webkit-scrollbar-button {
                    min-width: 0 !important;
                    visibility: hidden !important;
                  }
                }

                [class^="attachedBars-"] {
                  background-color: colors.$PropertySheetBG;
                  box-shadow: styling.$Border;
                  border-radius: 0;
                  margin-bottom: 7px;
                  margin-top: 5px;

                  [class^="replyBar-"] {
                    background-color: transparent;
                    border-radius: 0;

                    [class*="replyLabel-"] {
                      margin-left: 4px;
                    }

                    [class*="mentionButton-"],
                    [class*="closeButton-"] {
                      padding: 2px 4px;
                    }

                    [class^="separator-"] {
                      display: none;
                    }
                  }
                }

                [class^="inner-"] {
                  padding-left: 0 !important;
                }

                [class^="inner-"],
                [class^="buttons-"],
                [class^="attachWrapper-"],
                [class^="attachButton-"],
                & > [class^="scrollableContainer-"],
                [class^="inner-"] > [class^="textArea-"] {
                  min-height: 32px !important;
                }

                [class^="buttons-"],
                [class^="attachWrapper-"],
                [class^="attachButton-"] {
                  height: 32px !important;
                }
                [class^="inner-"] > [class^="textArea-"] {
                  height: 32px;
                }

                [class^="attachWrapper-"] {
                  min-width: 32px;
                }
                [class^="attachWrapper-"] [class^="attachButton-"] {
                  margin-left: 0;
                  padding-top: 0;
                }
                [class^="attachButton-"],
                [class^="attachButton-"] > [class^="icon-"] {
                  padding: 5px 8px;
                }
                [class^="buttons-"] [class*="buttonContainer-"] > button:not(:has(> [class*="innerButton-"])) {
                  margin: 0;
                }
                [class^="buttons-"] > [class^="separator-"],
                [class^="buttons-"] > [class^="separator-"] [class*="innerButton-"] {
                  margin-left: 4px;
                }
                [class^="buttons-"] > [class^="separator-"] [class*="innerButton-"] {
                  margin-right: 0;
                }

                & > [class^="scrollableContainer-"] > [class^="inner-"] > [class^="textArea-"] > div > [class*="fontSize16Padding-"] {
                  padding-top: 4px !important;
                  padding-bottom: 4px !important;
                }
              }

              & > [class^="typing-"] {
                bottom: 0;
                left: 0;
                right: 4px;
                font-size: 12px;
              }
            }

            [class^="scrollerSpacer-"] {
              height: 8px;
            }
          }
          & > [class^="container-"],
          & > [class^="membersWrap-"] {
            background: colors.$PropertySheetBG;
            margin-left: 7px;
            box-shadow: styling.$Border;

            [class^="members-"] {
              background-color: transparent;

              [class^="member-"] {
                background-color: transparent;
              }
            }
          }
          & > [class^="profilePanel-"],
          & > [class^="searchResultsWrap-"] {
            margin-left: 7px;
            box-shadow: styling.$Border;
          }
        }
      }

      & > [class^="container-"] {
        overflow: visible;
        margin-top: 27px;
        background-color: transparent;
        width: calc(100vw - 263px);

        & > section[class*="container-"] {
          position: absolute;
          top: -2px;
          height: 22px;
          background-color: colors.$PropertySheetBG;
          padding: 0 4px;
          width: calc(100vw - 261px);
          --channel-icon: #{colors.$Text};

          &::before {
            display: none;
          }

          [class*="iconWrapper-"] {
            margin: 0 2px;
            display: flex;
            align-items: center;

            & > svg {
              width: 16px;
              height: 16px;
            }

            & > [class*="count-"] {
              font-size: 12px;
            }
          }

          & > [class^="children-"] {
            height: 22px;

            &::after{
              display: none;
            }

            & > [class^="titleWrapper-"] > [class*="title-"] {
              font-size: 12px;
              font-weight: normal;
              color: colors.$Text;
            }

            & > [class^="divider-"] {
              display: none;
            }
          }
          & > [class^="toolbar-"] {
            height: 22px;

            [class^="divider-"] {
              display: none;
            }
          }
        }

        & > [class*="scrollerBase-"] {
          background-color: colors.$PropertySheetBG;
          box-shadow: styling.$Border;

          [class^="stickyHeader-"] {
            background-color: colors.$PropertySheetBG;
          }
        }

        & > [class^="tabBody-"] {
          overflow: visible;

          &::before {
            display: none;
          }

          & > [class*="peopleColumn-"] {
            background-color: colors.$PropertySheetBG;
            box-shadow: styling.$Border;
          }

          & > [class*="nowPlayingColumn-"] {
            margin-left: 7px;
            background-color: colors.$PropertySheetBG;
            box-shadow: styling.$Border;

            & > [class^="container-"] {
              background-color: transparent;

              & > [class^="scroller-"] {
                border-left: none;
              }
            }
          }
        }
      }

      & > [class^="applicationStore-"] {
        margin-top: 27px;
        background-color: transparent;
        box-shadow: styling.$Border;

        section[class*="container-"] {
          position: absolute;
          top: -2px;
          height: 22px;
          background-color: colors.$PropertySheetBG;
          padding: 0 4px;
          width: calc(100vw - 261px);
          --channel-icon: #{colors.$Text};

          &::before {
            display: none;
          }

          & > [class^="children-"] {
            height: 22px;

            &::after{
              display: none;
            }

            & > [class^="titleWrapper-"] > [class*="title-"] {
              font-size: 12px;
              font-weight: normal;
              color: colors.$Text;
            }

            & > [class^="divider-"] {
              display: none;
            }
          }
        }
      }
    }
  }
}