:root {
  --font-primary: "Seoge WP", "Tahoma", sans-serif;
  --font-display: "Seoge WP", "Tahoma", sans-serif;
  --font-headline: "Seoge WP", "Tahoma", sans-serif;
  --font-code: "Courier New", monospace;
}

[class^="markdown_"] [class^="codeInline_"],
[class^="codeLine_"],
[class^="codeBlockText_"],
[class^="durationTimeDisplay_"],
[class^="durationTimeSeparator_"],
[class*="after_inlineCode_"],
[class*="before_inlineCode_"],
[class^="inlineCode_"],
code.inline,
code,
.hljs {
  font-family: var(--font-code) !important;
}

.hljs,
code.inline,
[class^="markdown_"] code,
[class^="markdown_"] [class^="codeInline_"],
[class^="codeBlockText_"],
[class^="codeLine_"],
[class*="after_inlineCode_"],
[class*="before_inlineCode_"],
[class^="inlineCode_"],
.hljs-ansi-control-sequence {
  font-size: 12px !important;
}
