@use "colors";
@use "images";

@import url("https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css");

:root {
  --HSL-server-icon-size: 32px;
  --HSL-server-spacing: 8px;
  --HSL-server-direction: column;
  --HSL-server-alignment: flex-start;
  --server-container: 40px !important;
}

#app-mount [class*="baseLayer_"] > [class^="container_"] {
  background-color: colors.$PropertySheetBG;
  background-image: images.$ClientHeader;
  background-position-y: -32px;
  background-repeat: repeat-x;

  [class^="base_"] {
    overflow: visible;
  }

  [class*="guilds_"] {
    background-color: transparent;
    height: calc(100vw - 232px) !important;

    [class*="listItem_"] {
      &:not([class*="listItemWrapper_"]) {
        margin: 0 !important;
        margin-left: 4px !important;
      }

      &:hover [class^="pill_"] {
        display: none;

        span {
          opacity: 0 !important;
        }
      }
      [class^="pill_"] {
        width: 32px !important;
        height: 32px !important;
        top: 0px !important;
        left: -14px;
        z-index: 100;

        span {
          display: none;

          &[style*="height: 8px;"] {
            display: block;
            right: 1px;
            top: 1px;
            height: 8px !important;
            width: 8px !important;
            border-radius: 100% !important;
            transform: none !important;
            z-index: 100;
            background: white;
            filter: drop-shadow(0 0 2px colors.$TextH);
          }
        }
      }

      &:not(:hover) [class^="pill_"] span {
        opacity: 0 !important;

        &[style^="opacity: 0.7"],
        &[style^="opacity: 1"] {
          opacity: 1 !important;
        }
      }

      [class^="upperBadge_"] {
        z-index: 500;
      }

      [class^="lowerBadge_"] > [class^="numberBadge_"] {
        background-color: colors.$Highlight1 !important;
        z-index: 500;
      }

      [class^="wrapper_"] > [class^="childWrapper_"] {
        background-color: transparent;
      }

      [class^="circleIconButton_"] {
        background-color: transparent;

        &:hover {
          filter: drop-shadow(0 0 4px colors.$Text) !important;
        }
      }
    }

    [class^="blobContainer_"]:hover:not([class*="selected_"]) {
      & > [class^="wrapper_"] {
        filter: drop-shadow(0 0 4px colors.$Text) !important;
      }
    }

    [class^="blobContainer_"][class*="selected_"],
    [class^="listItemWrapper_"][class*="selected_"] {
      & > [class^="wrapper_"] {
        filter: drop-shadow(0 0 4px white);
      }

      &:after {
        pointer-events: none;
        content: "";
        width: 48px;
        height: 24px;
        background-image: images.$GuildSelected;
        position: absolute;
        bottom: -4px;
        left: -8px;
      }
    }

    [class^="blobContainer_"]:has([class^="numberBadge_"]) {
      & > [class^="wrapper_"] {
        filter: drop-shadow(0 0 4px colors.$Highlight1) !important;
      }
    }

    [class^="listItemWrapper_"] [class^="wrapper_"] {
      & > [class^="childWrapper_"] {
        background-color: transparent;
      }
      &[data-list-item-id="guildsnav___home"] > [class^="childWrapper_"] > svg {
        width: 37.5px;
        height: 37.5px;
        background-image: images.$HomeIcon;
        background-repeat: no-repeat;
        background-size: cover;

        & > path {
          display: none;
        }
      }
      &[class*="selected_"] {
        &:hover {
          filter: drop-shadow(0 0 4px colors.$Text) !important;
        }

        &[data-list-item-id="guildsnav___home"]
          > [class^="childWrapper_"]
          > svg {
          background-image: images.$HomeIconHover;
        }
      }
    }

    [class^="guildSeparator_"] {
      display: none;
    }

    [class^="scroller_"] {
      padding: 0;

      &::-webkit-scrollbar,
      &::-webkit-scrollbar-track,
      &::-webkit-scrollbar-thumb,
      &::-webkit-scrollbar-button {
        min-width: 0 !important;
        visibility: hidden !important;
      }
    }
  }
}

[class^="panels_"] > [class^="container_"] {
  position: absolute;
  right: -5px;
  top: -45px;
  height: 34px;
  padding: 0;
  z-index: 20;
  flex-direction: row-reverse;
  background-color: transparent;

  & > [class^="avatarWrapper_"] {
    height: 34px;
    max-width: 124px;
    flex-direction: row-reverse;
    padding-left: 0;
    margin-left: 0;
    border-radius: 0;

    &:hover {
      background-color: colors.$darkblue;
    }

    & > [class^="nameTag_"] {
      text-align: right;

      &
        > [class^="panelSubtextContainer_"]
        > [class*="subtext_"]
        > [class^="hoverRoll"] {
        text-align: right;
      }
    }
  }
}
