@use "colors";
@use "images";

@import url("https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css");

:root {
	--HSL-server-icon-size: 32px;
	--HSL-server-spacing: 8px;
	--HSL-server-direction: column;
	--HSL-server-alignment: flex-start;
  --server-container: 40px !important;
}

#app-mount [class*="baseLayer-"] > [class^="container-"] {
  background-color: colors.$PropertySheetBG;
  background-image: images.$ClientHeader;
  background-position-y: -32px;
  background-repeat: repeat-x;

  [class^="base-"] {
    overflow: visible;
  }

  [class*="guilds-"] {
    background-color: transparent;
    height: calc(100vw - 232px) !important;

    [class*="listItem-"] {
      &:not([class*="listItemWrapper-"]) {
        margin: 0 !important;
        margin-left: 4px !important;
      }

      &:hover [class^="pill-"] {
        display: none;

        span {
          opacity: 0 !important;
        }
      }
      [class^="pill-"] {
        width: 32px !important;
        height: 32px !important;
        top: 0px !important;
        left: -14px;
        z-index: 100;

        & > span {
          display: none;

          &[style*="height: 8px;"] {
            display: block;
            right: 1px;
            top: 1px;
            height: 8px !important;
            width: 8px !important;
            border-radius: 100% !important;
            transform: none !important;
            z-index: 100;
            background: white;
            filter: drop-shadow(0 0 2px colors.$TextH);
          }
        }
      }

      &:not(:hover) [class^="pill-"] span {
        opacity: 0 !important;

        &[style^="opacity: 0.7"],
        &[style^="opacity: 1"] {
          opacity: 1 !important;
        }
      }

      [class^="upperBadge-"] {
        z-index: 500;
      }

      [class^="lowerBadge-"] > [class^="numberBadge-"] {
        background-color: colors.$Highlight1 !important;
      }
    }

    [class^="blobContainer-"]:hover:not([class*="selected-"]) {
      & > [class^="wrapper-"] {
        filter: drop-shadow(0 0 4px colors.$Text) !important;
      }
    }

    [class^="blobContainer-"][class*="selected-"],
    [class^="listItemWrapper-"][class*="selected-"] {

      & > [class^="wrapper-"] {
        filter: drop-shadow(0 0 4px white);
      }

      &:after {
        content: "";
        width: 48px;
        height: 24px;
        background-image: images.$GuildSelected;
        position: absolute;
        bottom: -4px;
        left: -8px;
      }
    }

    [class^="blobContainer-"]:has([class^="numberBadge-"]) {
      & > [class^="wrapper-"] {
        filter: drop-shadow(0 0 4px colors.$Highlight1) !important;
      }
    }

    [class^="listItemWrapper-"] [class^="wrapper-"] {
      & > [class^="childWrapper-"] {
        background-color: transparent;

        & > svg[class^="homeIcon-"] {
          width: 25px;
          height: 25px;
          background-image: images.$HomeIcon;

          & > path {
            display: none;
          }
        }
      }
      &[class*="selected-"] {
        &:hover {
          filter: drop-shadow(0 0 4px colors.$Text) !important;
        }

        & > [class^="childWrapper-"] > svg[class^="homeIcon-"] {
          background-image: images.$HomeIconHover;
        }
      }
    }

    [class^="guildSeparator-"] {
      display: none;
    }

    [class^="scroller-"] {
      padding: 0;

      &::-webkit-scrollbar,
      &::-webkit-scrollbar-track,
      &::-webkit-scrollbar-thumb,
      &::-webkit-scrollbar-button {
        min-width: 0 !important;
        visibility: hidden !important;
      }
    }
  }
}

[class^="panels-"] > [class^="container-"] {
  position: absolute;
  right: -5px;
  top: -45px;
  height: 34px;
  padding: 0;
  z-index: 20;
  flex-direction: row-reverse;
  background-color: transparent;

  & > [class^="avatarWrapper-"] {
    height: 34px;
    flex-direction: row-reverse;
    padding-left: 0;
    margin-left: 0;
    border-radius: 0;

    &:hover {
      background-color: colors.$darkblue;
    }

    & > [class^="nameTag-"] {
      text-align: right;

      & > [class^="panelSubtextContainer-"] > [class*="subtext-"] > [class^="hoverRoll"] {
        text-align: right;
      }
    }
  }
}