@use "colors";
@use "images";

[class*="baseLayer-"] > [class^="container-"] {
  [class^="base-"] {
    & > [class^="content-"] {
      [class^="sidebar-"] {

        & > [class^="privateChannels-"] {
          & > [class^="scroller-"] {
            background-color: colors.$PropertySheetBG;

            & > [class^="content-"] {
              & > [class^="channel-"] {
                margin-left: 0;

                & > [class^="interactive-"] {
                  background-color: transparent;
                  border-radius: 0;
                  padding: 0;

                  &[class*="linkButton-"] {
                    [class^="link-"] {
                      & > [class*="layout-"] {
                        height: 16px;
                        padding: 0;

                        & > [class*="avatar-"] {
                          width: 16px;
                          height: 16px;
                          margin-right: 4px;

                          & > [class*="linkButtonIcon-"] {
                            width: 16px;
                            height: 16px;
                            color: var(--channel-icon);
                          }
                        }
                      }
                    }
                  }

                  [class^="link-"] {
                    border-radius: 0;
                    padding: 2px 4px;
                    --channel-icon: #{colors.$LabelDisabled};

                    & > [class*="layout-"] {
                      height: 32px;
                    }

                    [class^="name-"] {
                      font-size: 12px;
                      color: colors.$LabelDisabled;
                      line-height: 16px;
                      font-weight: normal;
                    }
                  }

                  &[class*="selected-"] {
                    background-color: colors.$Focus;
                    [class^="link-"] {
                      --channel-icon: white;

                      [class^="name-"] {
                        color: white;
                      }
                    }
                  }
                  &:hover:not([class*="selected-"]) {
                    [class^="link-"] {
                      background-color: transparent;
                      --channel-icon: #{colors.$Label};
                      [class^="name-"] {
                        color: colors.$Label;
                      }
                    }
                  }
                }
              }

              & > [class*="privateChannelsHeaderContainer-"] {
                padding: 0;
                height: 22px;
                flex-direction: row-reverse;
                background: linear-gradient(to right, colors.$DialogBGL, transparent 50%);
                align-items: center;

                [class^="headerText-"] {
                  line-height: 21px;
                  font-weight: normal;
                  font-size: 12px;
                  color: colors.$Label;
                  text-shadow: 0px 0px 4px colors.$TextH, 0px 0px 4px colors.$TextH,
                    0px 0px 4px colors.$TextH, 0px 0px 4px colors.$TextH;
                  margin-left: 5px;
                }

                &[aria-expanded] > div {
                  position: relative;
                  left: 3px;
                  top: 0px;
                  width: 16px;
                  height: 16px;
                  transition: none;
                  transform: none !important;
                  background-image: images.$CategoryArrow;
                  background-position: 0px 16px;

                  & > svg {
                    display: none;
                  }
                }
                &[aria-expanded="false"] > div {
                  background-position-y: 0px;
                }
                &[aria-expanded]:hover > div {
                  background-position-x: 16px;
                }

                & > [class^="privateChannelRecipientsInviteButtonIcon-"] {
                  position: relative;
                  left: 3px;
                  top: 0px;
                  width: 16px;
                  height: 16px;
                  transition: none;
                  transform: none !important;
                  background-image: images.$ButtonAdd;
                  margin-right: 0;

                  &:hover {
                    background-position-x: 16px;
                  }

                  & > svg > polygon {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}