@use "images";
@use "colors";

[class*="scroller-"]:not([class*="none-"]),
[class*="scrollerBase-"]:not([class*="none-"]) {
  &::-webkit-scrollbar {
    min-width: 16px;
    width: 16px;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent !important;
    border: none !important;
    border-radius: 0 !important;
    margin: 0 !important;
    background-image: images.$ScrollbarTrack !important;
    background-repeat: repeat-y !important;
    visibility: visible !important;
  }
  &::-webkit-scrollbar-thumb {
    border: none !important;
    border-left: solid 4px transparent !important;
    border-right: solid 3px transparent !important;
    visibility: visible !important;
    border-radius: 0 !important;
    background-color: colors.$DarkB !important;

    &:hover {
      background-color: colors.$DarkBHover !important;
    }
  }
  &::-webkit-scrollbar-button:single-button {
    visibility: visible;

    &:vertical {
      &:decrement {
        background-image: images.$ScrollbarDec;

        &:hover {
          background-image: images.$ScrollbarDecHover;
        }
      }
      &:increment {
        background-image: images.$ScrollbarInc;

        &:hover {
          background-image: images.$ScrollbarIncHover;
        }
      }
    }
  }
}