@use "colors";
@use "images";
@use "styling";

#app-mount {
  border: 1px solid black;
  width: calc(100vw - 2px);
  height: calc(100vh - 2px);
}

[class^="typeWindows_"] {
  height: 26px !important;
  margin-top: 0;
  background: images.$FrameTitle;
  background-repeat: repeat-x;

  [class^="wordmarkWindows_"] {
    padding: 0;

    & > svg {
      display: none;
    }

    &::after {
      content: "Discord";
      position: relative;
      left: 8px;
      top: 7px;
      height: 26px;
      width: 64px;
      font-family: var(--font-primary);
      font-size: 12px;
      color: colors.$LabelDisabled;
      text-shadow: styling.$TextShadow;

      :root.app-focused & {
        color: colors.$TextHover;
      }
    }
  }

  [class*="winButton_"] {
    top: 0;
    height: 16px;
    width: 16px;
    margin-left: 2px;
    margin-top: 4px;
    background-image: images.$TitlebarButtons;

    & > svg {
      display: none;
    }

    &:hover {
      background-color: transparent;
    }

    &[class*="winButtonClose_"] {
      background-position: 0px 0px;
      margin-right: 3px;

      &:hover,
      &:active {
        background-position: 16px 0px;
      }
    }

    &[class*="winButtonMinMax_"]:nth-child(4) {
      background-position: 0px 16px;

      &:hover,
      &:active {
        background-position: 16px 16px;
      }
    }

    &[class*="winButtonMinMax_"]:nth-child(3) {
      background-position: 0px 32px;

      &:hover,
      &:active {
        background-position: 16px 32px;
      }
    }
  }
}
